@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #026773 30%, #3CA6A6);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012E40;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: #012E40;
    text-shadow: 1px 1px 2px #012a3a6c;
}

h2{
    color: #024959;
}

p{
    text-align: justify;
}


