@charset "UTF-8";

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: rgb(25, 131, 11);
}
h2{
    color: darkred;
}

p{
    text-align: justify;
    text-align: center;
    text-decoration: black;
}

